.b-text-and-image__title {
  margin-bottom: 26px;
}

.b-text-and-image__hightlighted-text {
  border-left: 4px solid #1e1b1b;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding-left: 15px;
  margin-bottom: 20px;
}

@media (min-width: 1100px) {
  .b-text-and-image__content-col {
    padding: 67px 126px 62px 124px;
  }

  .b-text-and-image__content-col:before,
  .b-text-and-image__content-col:after {
    content: '';
    position: absolute;
    width: calc(100% + 12px);
    height: 1px;
    background-color: var(--color-default);
    left: 0;
  }

  .b-text-and-image.reversed .b-text-and-image__content-col:before,
  .b-text-and-image.reversed .b-text-and-image__content-col:after {
      right: 0;
      left: auto;
  }

  .b-text-and-image__content-col:before {
    top: 0;
  }

  .b-text-and-image__content-col:after {
    bottom: 0;
  }

}

@media (max-width: 1099.98px) {
  .b-text-and-image__content-col {
    order: 1;
  }

  .b-text-and-image__title {
    margin-bottom: 15px;
  }

  .b-text-and-image .col-lg-6:not(.b-text-and-image__content-col) {
    margin-bottom: 23px;
  }

  .b-text-and-image__hightlighted-text {
    margin-bottom: 12px;
  }
  
  .b-text-and-image__text {
    padding-right: 10px;
  }

}
